/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.chess-space {
	/* stage size (400)/8 spaces */
	-fx-min-height:  50px;
	-fx-min-width:   50px;
	-fx-pref-height: 75px;
	-fx-pref-width:  75px;
	-fx-max-height:  1000px;
	-fx-max-width:   1000px;
	
	/* prevent rounded buttons */
	-fx-background-radius: 0em;
}

.chess-space-white {
	-fx-background-color: #FFCE9E;
}

.chess-space-black {
	-fx-background-color: #D18B47;
}

.chess-active-space {
	-fx-background-color: red;
}
